@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  font-family: "Roboto", sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
}

:root {
  font-size: 16px;

  /* Custom props, Variables */
  --text-primary: black;
  --text-secondary: crimson;
}

/* NAV */

main {
  margin-top: 2rem;
}

nav {
  height: 2rem;
  width: 100vw;
  border-bottom: 2px solid crimson;

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: 200ms ease;
}

.navbarnav {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: black;
}

.logo {
  color: var(--text-secondary);
  letter-spacing: 0.5rem;
  color: black;
}

.navlink {
  text-decoration: none;

  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  transition: 200ms ease;
}

.navlink:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
}

@media only screen and (max-width: 600px) {
  .linktext {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .navlink:hover {
    letter-spacing: 0.6rem;
    transition: 200ms ease;
  }
}

/* NAV */

/* HERO */

.swiper-container {
  width: 100vw;
  height: 40vh;
}

.swiper-slide {
  background-size: cover;
  box-sizing: border-box;
  color: white;
}

.slide1 {
  background: url("gallery/img1.jpg");
  background-position: center;
}

.slide2 {
  background: url("gallery/img8.jpg");
  background-position: center;
}

.slide3 {
  background: url("gallery/img3.jpg");
  background-position: center;
  background-position: 45% 50%;
}
/* HERO */

/* MAIN SECTION */
.information {
  background-color: snow;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  width: 100vw;
}

.pagetitle {
  text-align: center;
  text-transform: uppercase;

  font-weight: 500;
  font-size: 2em;
  letter-spacing: 2px;

  transition: 200ms ease;
}

.infotext {
  text-align: center;
  text-transform: uppercase;

  font-weight: 500;
  font-size: 1em;
  letter-spacing: 2px;

  transition: 200ms ease;
}

@media only screen and (min-width: 800px) {
  .pagetitle {
    font-weight: 500;
    font-size: 3em;
  }

  .infotext {
    font-weight: 500;
    font-size: 1.5em;
  }
}

/* MAIN SECTION */

/* PRODUCT RELEASE */

.newreleasestext {
  margin-top: 10vh;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
  margin-bottom: 5vh;
  transition: 200ms ease;
}

.newreleases {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;

  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: 200ms ease;
}

.newitems {
  width: 250px;
  height: 250px;
  margin: 10px;
  box-shadow: 0px 0px 5px 2px lightgrey;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 125px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .newreleasestext {
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 2vh;
    font-size: 2em;
  }
}
/* PRODUCT RELEASE */

/* FOOTER */
